<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAunffTZQXMbFoAq2H1IK6r1x63fx2F9Fg</string>
	<key>GCM_SENDER_ID</key>
	<string>1025808516746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shortcut2.Shortcut-2</string>
	<key>PROJECT_ID</key>
	<string>shortcut-2-bb731</string>
	<key>STORAGE_BUCKET</key>
	<string>shortcut-2-bb731.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025808516746:ios:0c10212e47d61675f54f73</string>
</dict>
</plist>